In [2]:
import datetime
day1 = datetime.date(2024, 12, 8)

In [3]:
day1

datetime.date(2024, 12, 8)

In [4]:
day2 = datetime.datetime(2024, 12, 8, 14, 53, 29)
day2

datetime.datetime(2024, 12, 8, 14, 53, 29)

In [5]:
day2.year

2024

In [6]:
day2.hour

14

In [7]:
day = datetime.date(2024, 12, 8)
time = datetime.time(14, 55, 19)

dt = datetime.datetime.combine(day, time)
dt

datetime.datetime(2024, 12, 8, 14, 55, 19)

In [8]:
datetime.date.today()

datetime.date(2024, 12, 9)

In [9]:
datetime.datetime.now()

datetime.datetime(2024, 12, 9, 10, 44, 38, 838223)

In [10]:
dt = datetime.datetime(2024, 12, 8, 14, 55, 19)

In [11]:
dt.minute

55

In [13]:
day1 = datetime.date(2024, 12, 8)
day2 = datetime.date(2024, 12, 14)

In [14]:
diff = day2 - day1

In [15]:
diff

datetime.timedelta(days=6)

In [16]:
plus = datetime.timedelta(days = 100)

In [17]:
add = day1 + plus

In [18]:
add

datetime.date(2025, 3, 18)

In [19]:
day2.weekday()

5

In [20]:
day1.weekday()

6

### 윤년 확인

4년 마다 돌아오는 2월이 29일까지 인 해를 윤년이라고 한다.

((year % 4 == 0) and year % 100 != 0)) or (year % 400 == 0)

1. 연도가 4로 나누어 떨어진다.
2. 100으로 나누어떨어지는 연도는 제외한다.
3. 400으로 나누어 떨어지는 연도는 윤년이다.

In [22]:
def isLeapYear(year):
    return year % 4 == 0 and year % 100 !=0 or year % 400 == 0

In [23]:
isLeapYear(2024)

True

### 달력 관련 라이브러리 calendar

In [24]:
import calendar

In [25]:
calendar.isleap(2024)

True

In [26]:
# 윤년횟수
calendar.leapdays(1990, 2022)

8

In [27]:
# 요일반환
calendar.weekday(2022, 10, 15)

calendar.SATURDAY

In [29]:
# 달력출력
print(calendar.calendar(2025))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [ ]:
import datetime

In [30]:
str_datetime = '2024-12-9 13:18:23'
currdate = datetime.datetime.strptime(str_datetime, '%Y-%m-%d %H:%M:%S')

In [31]:
type(currdate)

datetime.datetime

In [ ]:
currdate
print(currdate)

2024-12-09 13:18:23

In [34]:
import datetime
now = datetime.datetime.now()

In [35]:
now

datetime.datetime(2024, 12, 9, 13, 24, 53, 906301)

In [37]:
date = now.strftime('%Y-%m-%d')
type(date)

str

In [ ]:
date

'2024-12-09'

In [40]:
str_datetime = '2024-12-9 13:18:23'
currdate = datetime.datetime.strptime(str_datetime, '%Y-%m-%d %H:%M:%S')
currdate

datetime.datetime(2024, 12, 9, 13, 18, 23)

In [43]:
from dateutil.parser import parse
parse(str_datetime)

datetime.datetime(2024, 12, 9, 13, 18, 23)

In [46]:
parse('Oct 15, 2024, 1:05:23 PM')

datetime.datetime(2024, 10, 15, 13, 5, 23)

In [51]:
log = 'INFO 2024-12-01T00:00:01 Happy new year, human' #날짜 문자열 자동 탐지 한다.

In [52]:
parse(log, fuzzy=True)

datetime.datetime(2024, 12, 1, 0, 0, 1)

In [53]:
import time

In [54]:
# 현재 시간 출력 실수형
time.time()

1733719065.2464142

In [55]:
time.ctime()

'Mon Dec  9 13:37:52 2024'

In [56]:
print('바로 출력되는 구문')

time.sleep(3)

print('3초 후 출력되는 구문')

바로 출력되는 구문
3초 후 출력되는 구문

In [59]:
# 경과시간 출력
start_time = time.time()

for i in range(5):
    time.sleep(1)
    print('반복횟수', i + 1)

end_time = time.time()
elapsed_time = end_time - start_time

print('경과 시간은 : {} 초 입니다.'.format(elapsed_time))

반복횟수 1
반복횟수 2
반복횟수 3
반복횟수 4
반복횟수 5
경과 시간은 : 5.01384973526001 초 입니다.

## 달력 만들기

진행순서
1. 윤년 판별 함수
2. 마지막 날짜 계산
3. 지나온 날짜 계산
4. 요일변환
5. 달력 확인

### 1. 윤년 판별 함수 만들기

In [61]:
# 방법 1. 윤년 판별 공식에 따라 작동하는 함수
def isLeapYear(year):
    return year % 4 == 0 and year % 100 != 0 or year % 400 == 0

In [62]:
# 방법 2. calender 모듈 활용하기
import calendar
calendar.isleap(2024)

True

### 2. 마지막 날짜 계산

- lastDay 인수로 년, 월을 넘겨 받아 그 달의 마지막 날짜를 리턴하는 함수

In [64]:
from calendar import isleap


def lastDay(year, month):
    # 각 달의 마지막 날짜를 기억하는 리스트 만들기
    m = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    # 2월의 마지막 날짜를 확정 -> 윤년이면 29일로 수정
    if isleap(year):
        m[1] = 29
    
    # 마지막 날짜 리턴    
    return m[month - 1]

### 3. 지나온 날짜 계산
- totalDay 년, 월, 일을 넘겨 받아 1년 1월 1일 부터 지난 날짜의 함게를 리턴하는 함수
- total 계산 순서
1. 평년을 기준으로 전년도까지 일자 합계 -> 윤년이었던 횟수 더하기
2. 전달까지 해당 연도 일자 더하기
3. 이번달 날짜 더하기

In [ ]:
def totalDay(year, month, day):
    # 1년 1월 1일 부터 전 년도 12월 31일 까지 지난 날짜를 합산: (year - 1)//4 - (year - 1)//100 + (year - 1)//400, 윤년이었던 횟수 계산
    total = (year - 1) * 365 + (year - 1)//4 - (year - 1)//100 + (year - 1)//400
    
    # 전년도 까지 지난 날짜의 합계에 전 달까지 지난 날짜 더하기
    for i in range(1, month):
        total += lastDay(year, i) # 윤년 확인 포함
    
    # 전달 까지 지난 날짜에 이번달 날짜를 더해서 리턴
    return total + day

### 4. 요일반환

In [66]:
def weekDay(year, month, day):
    return totalDay(year, month, day) % 7

In [ ]:
if __name__ == "__main__":
    
    # 달력 프로그램 도입부
    year, month = map(int, input('달력을 출력할 년, 월을 입력하세요 : '))