## 3.1 시리즈 소개

In [ ]:
!pip install pandas

In [1]:
from pandas import Series

## 3.2 시리즈 생성

In [2]:
from pandas import Series

data = [10, 20, 30]
s = Series(data)
print(s)

0    10
1    20
2    30
dtype: int64

In [3]:
from pandas import Series
import numpy as np

data = np.arange(5)
s = Series(data)
print(s)

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [6]:
data = ["시가", "고가"]
s = Series(data)
print(s)

0    시가
1    고가
dtype: object

In [7]:
s = Series(['samsung', 81000])
print(s)

0    samsung
1      81000
dtype: object

## 3.3 시리즈 인덱스

In [8]:
data = [1000, 2000, 3000]
s = Series(data)
print(s.index)
print(s.index.to_list())

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]

In [10]:
data = [1000, 2000, 3000] 
s = Series(data)
s.index = ["메로나", "구구콘", "하겐다즈"]
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [9]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]

s = Series(data, index)
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [11]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]

s = Series(data=data, index=index)
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [12]:
k = [1000, 2000, 3000]
v = ["메로나", "구구콘", "하겐다즈"]

s = Series(data=v, index=k)
print(s)

1000     메로나
2000     구구콘
3000    하겐다즈
dtype: object

In [13]:
s = Series(data, index)
s = Series(data, index=index)
s = Series(data=data, index=index)
s = Series(index=index, data=data)

In [78]:
data = [1000, 2000, 3000]
index = ['메로나', '구구콘', '하겐다즈']
s = Series(data=data, index=index)
s2 = s.reindex(["메로나", "비비빅", "구구콘"])
print(s2)

메로나    1000.0
비비빅       NaN
구구콘    2000.0
dtype: float64

In [79]:
print(s2.fillna(0))

메로나    1000.0
비비빅       0.0
구구콘    2000.0
dtype: float64

In [80]:
print(s.reindex(["메로나", "비비빅", "구구콘"], fill_value=0))

메로나    1000
비비빅       0
구구콘    2000
dtype: int64

In [14]:
price = [42500, 42550, 41800, 42550, 42650]
date = ["2019-a05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]
s = Series(price, date)
print(s)

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [102]:
data = {
    "2019-05-31" : 42500,
    "2019-05-30" : 42550,
    "2019-05-29" : 41800,
    "2019-05-28" : 42550,
    "2019-05-27" : 42650
}
s = Series(data)

In [108]:
print(s.index)
print(s.index.dtype)

Index(['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27'], dtype='object')
object

In [109]:
print(s.values)

[42500 42550 41800 42550 42650]

## 3.4 시리즈 인덱싱

In [19]:
data = [1000, 2000, 3000]
s = Series(data=data)

print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1])

1000
2000
3000
3000

In [21]:
print(s.loc[0])
print(s.loc[1])
print(s.loc[2])
# print(s.loc[-1])   # 에러

1000
2000
3000

In [22]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)
 
print(s.iloc[0])
print(s.loc['메로나'])

1000
1000

In [23]:
print(s['메로나'])
print(s[0])

1000
1000

In [25]:
s1 = Series([10, 20, 30])
s2 = Series([10, 20, 30], index=[1, 2, 3])
print(s1[0])
# print(s2[0])    # 에러

10

In [26]:
s3 = Series([10, 20, 30], index=['a', 'b', 'c'])
print(s3[0])

10

In [71]:
print(s3.index[ 0 ])
print(s3.index[ -1 ])

a
c

## 3.5 시리즈 슬라이싱

In [27]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

print(s.iloc[0:2])

메로나    1000
구구콘    2000
dtype: int64

In [28]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

print(s.loc['메로나':'구구콘'])

메로나    1000
구구콘    2000
dtype: int64

In [29]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

indice = [0, 2]
print(s.iloc[ indice ])
print(s.iloc[ [0, 2] ])

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

In [32]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

indice = ["메로나", "하겐다즈"]
print(s.loc[ indice ])
print(s.loc[ ["메로나", "하겐다즈"] ])

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

## 3.6 시리즈 수정/추가/삭제

In [45]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

s.loc['메로나'] = 500          # 값 수정
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
dtype: int64

In [46]:
s.iloc[0] = 500            # iloc 연산 사용
s['메로나'] = 500          # [ ] 기호 사용

In [47]:
s.loc['비비빅'] = 500          # 값 추가 
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [42]:
print(s.drop('메로나'))

구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [48]:
s = s.drop('메로나')
print(s)

구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [49]:
s

구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [51]:
s.iloc[ : 2] = 100
print(s)

구구콘     100
하겐다즈    100
비비빅     500
dtype: int64

## 3.7 시리즈 연산

In [53]:
철수 = Series([10, 20, 30], index=['NAVER', 'SKT', 'KT'])
영희 = Series([10, 30, 20], index=['SKT', 'KT', 'NAVER'])
가족 = 철수 + 영희
print(가족)

KT       60
NAVER    30
SKT      30
dtype: int64

In [54]:
print(철수 * 10)

NAVER    100
SKT      200
KT       300
dtype: int64

In [63]:
high = Series([42800, 42700, 42050, 42950, 43000])
low = Series([42150, 42150, 41300, 42150, 42350])

diff = high - low
print(diff)

0    650
1    550
2    750
3    800
4    650
dtype: int64

In [65]:
print(diff.max())
print(max(diff))

800
800

In [66]:
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = Series([42800, 42700, 42050, 42950, 43000], index=date)
low = Series([42150, 42150, 41300, 42150, 42350] , index=date)
diff = high - low
print(diff)

6/1    650
6/2    550
6/3    750
6/4    800
6/5    650
dtype: int64

In [69]:
max_idx = 0
max_val = 0

for i in range(len(diff)):
    if diff[i] > max_val:
        max_val = diff[i]
        max_idx = i

print(max_idx)
print(diff.index[max_idx])

3
6/4

In [77]:
print(diff.idxmax())
print(diff.idxmin())

6/4
6/2

In [82]:
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = Series([42800, 42700, 42050, 42950, 43000], index=date)
low = Series([42150, 42150, 41300, 42150, 42350] , index=date)
profit = high / low
print(profit)

6/1    1.015421
6/2    1.013049
6/3    1.018160
6/4    1.018980
6/5    1.015348
dtype: float64

In [84]:
print( profit.cumprod( ) )

6/1    1.015421
6/2    1.028671
6/3    1.047351
6/4    1.067230
6/5    1.083610
dtype: float64

In [85]:
print( profit.cumprod( ).iloc[ -1 ] )

1.0836101509172456

In [86]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)

In [89]:
print(s.unique())

['전기,전자' '운수장비' '서비스업']

## 3.8 시리즈와 맵

In [90]:
from pandas import Series
s = Series(["1,234", "5,678", "9,876"])
print( int(s) )

TypeError: cannot convert the series to <class 'int'>

In [91]:
def remove_comma(x) :
    print(x, 'in function')
    return x

s = Series(["1,234", "5,678", "9,876"])
result = s.map(remove_comma)
print(result)

1,234 in function
5,678 in function
9,876 in function
0    1,234
1    5,678
2    9,876
dtype: object

In [92]:
from pandas import Series

def remove_comma(x) :
    return int(x.replace(",", ""))

s = Series(["1,234", "5,678", "9,876"])
result = s.map(remove_comma)
print(result)

0    1234
1    5678
2    9876
dtype: int64

In [93]:
def is_greater_than_5000(x):
    if x > 5000:
        return "크다"
    else:
        return "작다"

s = Series([1234, 5678, 9876])
s = s.map(is_greater_than_5000)
print(s)

0    작다
1    크다
2    크다
dtype: object

## 3.9 시리즈 필터링

In [94]:
from pandas import Series

data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
s = Series(data=data, index=index)
cond = s > 42000
print(cond)

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool

In [95]:
print(s[cond])

2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [96]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = Series(data=open, index=index)
close = Series(data=close, index=index)

cond = close > open
print(cond)

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28    False
2019-05-27     True
dtype: bool

In [97]:
cond = close > open
print(close[cond])

2019-05-30    42550
2019-05-27    42650
dtype: int64

In [98]:
print(close[close > open])

2019-05-30    42550
2019-05-27    42650
dtype: int64

In [110]:
print(close.index[close > open])
print(close[close > open].index)

Index(['2019-05-30', '2019-05-27'], dtype='object')
Index(['2019-05-30', '2019-05-27'], dtype='object')

In [111]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = Series(data=open, index=index)
close = Series(data=close, index=index)
diff = close - open
print(diff[close > open])

2019-05-30    350
2019-05-27    150
dtype: int64

## 3.10 정렬 및 순위

In [112]:
from pandas import Series

data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data=data, index=index)
print(s)

# 정렬 (오름차순)
s1 = s.sort_values()
print(s1)

# 정렬 (내림차순)
s2 = s.sort_values(ascending=False)
print(s2)

000010     3.1
000020     2.0
000030    10.1
000040     5.1
dtype: float64
000020     2.0
000010     3.1
000040     5.1
000030    10.1
dtype: float64
000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

In [113]:
data = [3.1, 2.0, 10.1, 3.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data=data, index=index)
print(s.rank())

000010    2.5
000020    1.0
000030    4.0
000040    2.5
dtype: float64