## 4.1 데이터프레임 소개 및 생성

In [3]:
import pandas as pd

In [4]:
data = {
    '종목코드': ['037730', '036360', '005760'],
    '종목명': ['3R', '3Soft', 'Acts'],
    '현재가': [1510, 1790, 1185]
}

df = pd.DataFrame(data)

print(df)

     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3Soft  1790
2  005760   Acts  1185

In [1]:
from pandas import DataFrame

data = [
    ["1234", "3R", 1510],
    ["2345", "3SOFT", 1790],
    ["3456", "ACTS", 1185]
]

columns = ["종목코드", "종목명", "현재가"]

df = DataFrame(data = data, columns = columns)

print(df)

   종목코드    종목명   현재가
0  1234     3R  1510
1  2345  3SOFT  1790
2  3456   ACTS  1185

/var/folders/l9/p_v3gywd7qq5rzc_vvpwwcjr0000gn/T/ipykernel_2466/2819054860.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  from pandas import DataFrame

In [2]:
data = [
    ["1234", "3R", 1510, 7.36],
    ["2345", "3SOFT", 1790, 1.65],
    ["3456", "ACTS", 1185, 1.28]
]

columns = ["종목코드", "종목명", "현재가", "등락률"]
df = DataFrame(data = data, columns = columns)
print(df)

   종목코드    종목명   현재가   등락률
0  1234     3R  1510  7.36
1  2345  3SOFT  1790  1.65
2  3456   ACTS  1185  1.28

In [12]:
df = df.set_index("종목코드")

In [13]:
print(df)

        종목명   현재가   등락률
종목코드
1234     3R  1510  7.36
2345  3SOFT  1790  1.65
3456   ACTS  1185  1.28

In [14]:
df

        종목명   현재가   등락률
종목코드
1234     3R  1510  7.36
2345  3SOFT  1790  1.65
3456   ACTS  1185  1.28

In [17]:
df.set_index("종목코드", inplace=True)

In [18]:
df

        종목명   현재가   등락률
종목코드
1234     3R  1510  7.36
2345  3SOFT  1790  1.65
3456   ACTS  1185  1.28

In [20]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]

df = DataFrame(data = data, index = index, columns = columns)
print(df["현재가"])

037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [21]:
print(df.현재가)

037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [22]:
lists = ["현재가", "등락률"]
df[lists]

         현재가   등락률
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [23]:
df[["현재가", "등락률"]]

         현재가   등락률
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [24]:
print(df[["현재가", "등락률"]])

         현재가   등락률
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [25]:
df[["현재가"]]

         현재가
037730  1510
036360  1790
005760  1185

In [26]:
df["현재가"]

037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

## 4.4 로우 인덱싱

In [4]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]

df = DataFrame(data = data, index = index, columns = columns)

In [31]:
df.loc["037730"]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [33]:
df.iloc[0]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [34]:
df.iloc[-1]

종목명    ACTS
현재가    1185
등락률    1.28
Name: 005760, dtype: object

In [36]:
print(df.loc[["037730", "036360"]])

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

## 4.5 특정 값 가져오기

In [39]:
print(df.iloc[0].iloc[-1])

7.36

In [42]:
print(df.iloc[0].loc["등락률"])

7.36

In [44]:
print(df.iloc[0]["등락률"])

7.36

In [45]:
print(df.loc["037730", "종목명"])

3R

In [47]:
print(df.iloc[0,0])

3R

In [48]:
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [49]:
print(df.loc[["037730", "036360"]])
print(df.iloc[[0, 1]])

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [50]:
df_1 = df.loc[["037730", "036360"]]
df_1 = df_1[["종목명", "현재가"]]
df_1

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [5]:
print(df.loc[["037730", "036360"], ["종목명", "현재가"]])

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [6]:
print(df.iloc[[0, 1], [0, 1]])

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

## 4.7 데이터프레임 필터링

In [7]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]

df = DataFrame(data = data, index = index, columns = columns)

In [8]:
cond = df["현재가"] >= 1400

In [9]:
print(df.loc[cond])

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [10]:
print(df.loc[cond]["현재가"])

037730    1510
036360    1790
Name: 현재가, dtype: int64

In [11]:
print(df.loc[cond, "현재가"])

037730    1510
036360    1790
Name: 현재가, dtype: int64

In [12]:
cond = (df["현재가"] >= 1400) & (df["현재가"] < 1700)

In [14]:
print(df.loc[cond, "현재가"])

037730    1510
Name: 현재가, dtype: int64

In [1]:
import pandas as pd

/var/folders/r6/411_jjk54hsdvvzw1y199tdm0000gn/T/ipykernel_2257/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]

df = pd.DataFrame(data = data, index = index, columns = columns)

In [5]:
s = pd.Series(data = ["LG", 60000, 3.84], index = df.columns)

In [6]:
s

종목명       LG
현재가    60000
등락률     3.84
dtype: object

In [7]:
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [8]:
df.loc['06570'] = s

In [9]:
df

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
06570      LG  60000  3.84