In [1]:
import pandas as pd

In [2]:
pd.DataFrame(data = None, columns = None, index = None)

Empty DataFrame
Columns: []
Index: []

In [4]:
data1 = [[67, 93, 91, 88],
         [78, 85, 90, 92],
         [80, 82, 85, 87],
         [90, 95, 92, 89],
         [85, 88, 90, 91],
         [75, 80, 82, 84]]

In [5]:
data1

[[67, 93, 91, 88],
 [78, 85, 90, 92],
 [80, 82, 85, 87],
 [90, 95, 92, 89],
 [85, 88, 90, 91],
 [75, 80, 82, 84]]

In [6]:
pd.DataFrame(data1)

    0   1   2   3
0  67  93  91  88
1  78  85  90  92
2  80  82  85  87
3  90  95  92  89
4  85  88  90  91
5  75  80  82  84

In [7]:
pd.DataFrame(data1, index = ['A', 'B', 'C', 'D', 'E', 'F'], columns = ['국어', '영어', '수학', '과학'])

   국어  영어  수학  과학
A  67  93  91  88
B  78  85  90  92
C  80  82  85  87
D  90  95  92  89
E  85  88  90  91
F  75  80  82  84

In [11]:
idx1 = ['송중기', '송혜교', '이민호', '박보검', '김수현', '박서준']
col1 = ['국어', '영어', '수학', '과학']

df1 = pd.DataFrame(data1, index = idx1, columns = col1)

In [12]:
df1.values

array([[67, 93, 91, 88],
       [78, 85, 90, 92],
       [80, 82, 85, 87],
       [90, 95, 92, 89],
       [85, 88, 90, 91],
       [75, 80, 82, 84]])

In [15]:
df1.index

Index(['송중기', '송혜교', '이민호', '박보검', '김수현', '박서준'], dtype='object')

In [16]:
df1.columns

Index(['국어', '영어', '수학', '과학'], dtype='object')

In [17]:
df1 > 80

        국어     영어    수학    과학
송중기  False   True  True  True
송혜교  False   True  True  True
이민호  False   True  True  True
박보검   True   True  True  True
김수현   True   True  True  True
박서준  False  False  True  True

In [18]:
pd.Series(data = None, index = None)

Series([], dtype: object)

In [22]:
data_k = [67, 78, 80, 90, 85, 75]
pd.Series(data_k, index = idx1, name = '국어 점수') > 80

송중기    False
송혜교    False
이민호    False
박보검     True
김수현     True
박서준    False
Name: 국어 점수, dtype: bool

In [23]:
data2 = [[67, 93, 91],
         [78, 85, 90],
         [80, 82, 85],
         [90, 95, 92]]

In [24]:
index2 = ['강하늘', '유아인', '조정석', '정해인']
columns2 = ['국어', '영어', '수학']

In [25]:
pd.DataFrame(data2, index = index2, columns = columns2)

     국어  영어  수학
강하늘  67  93  91
유아인  78  85  90
조정석  80  82  85
정해인  90  95  92

In [27]:
pd.DataFrame(data2, index = list('ABCD'), columns = columns2) > 80

      국어    영어    수학
A  False  True  True
B  False  True  True
C  False  True  True
D   True  True  True

In [30]:
data3 = [['A', 'B', 'C'],
         ['A', 'A', 'B']]

index3 = ['송중기', '김나현']
columns3 = ['국어학점', '영어학점', '수학학점']

pd.DataFrame(data3, index = index3, columns = columns3)

    국어학점 영어학점 수학학점
송중기    A    B    C
김나현    A    A    B

In [34]:
data4 = [list('ABC'),
         list('ABA')]

data4
pd.DataFrame(data4, index = list('XY'), columns = columns3)

  국어학점 영어학점 수학학점
X    A    B    C
Y    A    B    A